Package: com.timedaemon.powerinformer
Name: Power Informer
Depends: mobilesubstrate, preferenceloader, firmware (>= 5)
Architecture: iphoneos-arm
Description: Power Informer allows you to receive battery level alerts at any battery level and at any increments.
Maintainer: Dan Saba
Author: Dan Saba
Section: Tweaks
Version: 1.0.2-3
Installed-Size: 208
